@import url("https://fonts.googleapis.com/css?family=Heebo:800");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  overflow: hidden;
  position: absolute;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}

svg {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

button {
  position: absolute;
  z-index: 50;
  width: 11.89vh;
  overflow: hidden;
  height: 11.89vh;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}
button:focus {
  outline-width: 0;
}

circle {
  stroke: #fff;
  fill: none;
  transition: 0.3s;
}

#svg1 circle {
  transition-timing-function: linear;
}

#svg2 circle {
  transition-timing-function: linear;
}

#Capa_1 {
  position: absolute;
  width: 24px;
  height: 24px;
  transform: translate(-10.5px, -12px);
}

#Capa_2 {
  position: absolute;
  width: 24px;
  height: 24px;
  transform: translate(-13.5px, -12px);
}

.right {
  margin-left: calc(97.84vw - 11.89vh);
  margin-top: 43.71vh;
  border: 1px solid #849494;
  background-color: transparent;
  transition: .5s;
}
.right:hover {
  background-color: #fff;
}

.left {
  margin-left: 2.16vw;
  margin-top: 43.71vh;
  border: 1px solid #849494;
  background-color: transparent;
  transition: .5s;
}
.left:hover {
  background-color: #fff;
}

.circle1 {
  transition-delay: 0.05s;
}

.circle2 {
  transition-delay: 0.1s;
}

.circle3 {
  transition-delay: 0.15s;
}

.circle4 {
  transition-delay: 0.2s;
}

.circle5 {
  transition-delay: 0.25s;
}

.circle6 {
  transition-delay: 0.3s;
}

.circle7 {
  transition-delay: 0.35s;
}

.circle8 {
  transition-delay: 0.4s;
}

.circle9 {
  transition-delay: 0.45s;
}

.circle10 {
  transition-delay: 0.5s;
}

.circle11 {
  transition-delay: 0.05s;
}

.circle12 {
  transition-delay: 0.1s;
}

.circle13 {
  transition-delay: 0.15s;
}

.circle14 {
  transition-delay: 0.2s;
}

.circle15 {
  transition-delay: 0.25s;
}

.circle16 {
  transition-delay: 0.3s;
}

.circle17 {
  transition-delay: 0.35s;
}

.circle18 {
  transition-delay: 0.4s;
}

.circle19 {
  transition-delay: 0.45s;
}

.circle20 {
  transition-delay: 0.5s;
}

.slide1 {
  background-image: url("pic/4CE3D5C8-33A1-479D-878B-40B7FAA0B4B2.jpg");
  min-height: 100vh;
background-position: center;
}

.slide2 {
  background: url("pic/S__10657801.jpg");
  min-height: 100vh;
background-position: center;
	
}

.slide3 {
  background-image: url("pic/photo_20190909230716_6553892_0.jpg");
  min-height: 100vh;
background-position: center;
}

.slide4 {
  background-image: url("pic/S__10657806.jpg");
  min-height: 100vh;
background-position: center;
}

.slider {
  position: absolute;
  width: 400%;
  height: 100%;
  background: #000;
  display: inline-flex;
  overflow: hidden;
}

.slide1, .slide2, .slide3, .slide4 {
  position: absolute;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 128px;
  padding-top: 138px;
  font-weight: 800;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  width: 25%;
  height: 100%;
  z-index: 10;
  transition: 1.4s;
}

.tran {
  transform: scale(1.1);
}

.up1 {
  z-index: 20;
}

.up2 {
  z-index: 40;
}

.steap {
  stroke-width: 0;
}

.streak {
  stroke-width: 39vh;
}

@media (max-width: 700px) {
  .parent {
    margin-left: 1%;
  }
}